.userPhoto {
    width: 60px;
}

.numbers {
    margin-bottom: 15px;
    font-size: 32px;
    cursor: pointer;
}

.spinner {
    position: absolute;
    top: 35%;
    left: 45%;
    width: 100px;
    z-index: 1;
}

.numbers span {
    margin-right: 5px;
}

.selectedPage {
    font-weight: 700;
    color: #d65c12;
    font-size: 38px;
}